<link rel="stylesheet" href="/headerHome.css"/>
<link rel="stylesheet" href="/output.css"/>
<header>
    <p></p>
    <div id="navDiv">
    <a href="/" class="<%= active === 'landingPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Home</a>

    <a href="/help" class="<%= active === 'helpPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Help</a>

    <a href="/contact" class="<%= active === 'contactPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Contact-Us</a>

    <a href="/about" class="<%= active === 'aboutPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        About-Us</a>

       

    
    

    
      

  

</div>
<div id="navDiv">
    <div class="div">
        <button class="<%= active === 'loginPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">Login</button>
<div class="a">
        <a class="ai" href="/login/employee">
            Employee</a>


            <a  class="ai" href="/login/recruiter">
                Recruiter</a>
            </div>
    </div>


    <div class="div">
        <button class="<%= active === 'signUpPage' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">Sign-Up</button>

        <div class="a">
        <a class="ai" href="/signUp/recruiter">
            Recruiter</a>
        
    <a  class="ai" href="/signUp/employee">
        Employee</a>
    </div>
    </div>

</div>
</header>