<link rel="stylesheet" href="/header.css"/>
<link rel="stylesheet" href="/output.css"/>
<header>
    <a href="/" class="hover:shadow-black shadow-lg hover:bg-red-500 py-2 px-4 rounded transition duration-300 no-underline">
        Home</a>
    
<div id="navDiv">
    <a href="/store/favourite" class="<%= active === 'favourite' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Favourites</a>

    <a href="/store/jobList" class="<%= active === 'jobList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Vacancies</a>

        <a href="/store/apply" class="<%= active === 'applied' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
            Applied</a>



            <a href="/store/addProfile" class="<%= active === 'addProfile' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                Add Resume</a>
        
            <a href="/store/storeProfileList" class="<%= active === 'storeProfileList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                Resumes</a>
        
                <a href="/store/chooseProfile/" class="<%= active === 'choosenProfiles' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                    Choosens</a>
                </div>
                <p></p>
</div>

</header>