<link rel="stylesheet" href="/header.css"/>
<link rel="stylesheet" href="/output.css"/>
<header>
    <a href="/" class="hover:shadow-black shadow-lg hover:bg-red-500 py-2 px-4 rounded transition duration-300 no-underline">
        Home</a>
    <div id="navDiv">
    <a href="/host/addJob" class="<%= active === 'addJob' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Add Vacancy</a>

    <a href="/host/hostJobList" class="<%= active === 'hostJobList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
        Added by you</a>

        <a href="/host/hostApplications" class="<%= active === 'hostApplied' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
            Applications</a>


            <a href="/host/profileList" class="<%= active === 'profileList' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                Resumes</a>


                <a href="/host/favouriteProfile" class="<%= active === 'favouriteProfiles' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                    Favourites</a>


                    <a href="/host/chooseProfile" class="<%= active === 'choosenProfiles' ? 'bg-red-600 shadow-black shadow-lg' : 'hover:shadow-black shadow-lg hover:bg-red-500' %> py-2 px-4 rounded transition duration-300 no-underline">
                        Choosens</a>

</div>
<p></p>
</header>