<%- include('../partials/head')%>
<link rel="stylesheet" href="/hostJobDetails.css"/>
    <body>
      <%- include('../partials/navStore')%>
        <div id="body">
    <div id="div">
        <div id="topIn">
            <h1 id="top"><%=detail.profileName%></h1>
            <div id="topInIn">
                <a id="edit" href="/store/editProfile/<%= detail._id%>?editing=true">✏️</a>
                <form id="button" action="/store/deleteProfile/<%=detail._id%>" method='POST'>
                    <button type="submit">
                         ✘
                    </button>
                </form>
            </div>
        </div>
       
        <div id="card">
            <h2 id="Cname">
                <%=detail.profilePost%>
              </h2>
              <div id="det1">
                <div class="div">
                    <h2 class="ans2">
                Gender : 
                <%=detail.profileGender%>
              </h2>
              <label class="label1">
                Email
              </label>
              <h2 class="ans1">
                <%=detail.profileEmail%>
              </h2>
              <label class="label1">
                Mobile No.
              </label>
              <h2 class="ans1">
                <%=detail.ProfileMobile%>
              </h2>
            </div>
            <div class="div">
                
                <h2 class="ans2"> 
                    Courses : 
                    <%=detail.profileCourse%>
                  </h2>

                  <label class="label1">
                    Skills
                </label>
                <h2 class="ans1"> 
                    <%=detail.profileSkills%>
                  </h2>

                  
            </div>

            <div class="div">
                
                <label class="label1">
                    10th(%) :
                </label>
                <h2 class="ans1"> 
                    <%=detail.profileTenth%>
                  </h2>

                  <label class="label1">
                    12th(%) :
                </label>
                <h2 class="ans1"> 
                    <%=detail.profileTwelth%>
                  </h2>

                  <label class="label1">
                    Graduation :
                </label>
                <h2 class="ans1">
                    <%=detail.profileGraduation%>
                  </h2>
            </div>
            </div>
            <div id="det1">
                <div class="div2">
                    <label class="label1">
                        Description
                    </label>
                    <h2 class="ans1"><%=detail.profileDescription%></h2>
                    
                </div>
                <div class="div2">
                    <label class="label1">
                        Why me
                    </label>
                    <h2 class="ans1"><%=detail.profilePostDescription%></h2>
                    
                </div>
            </div>
            
    </div>
        <p><b><u> test  reached last</u></b></p>
        
    </div>
</div>
<%- include ('../partials/footer')%>
    </body>
</html>








