<%- include('../partials/head')%>
<link rel="stylesheet" href="/addJobStyle.css"/>
	<body>
		<%- include('../partials/nav')%>
        <form action="/host/<%= editing ?'editJob':'addJob'%>" method="POST">
			<h1>
				<%= editing ? "Edit" : "Add" %> Job Post 
			</h1>
			<div id="div">
				<input type="hidden" <% if(editing) {%>value="<%=detail._id%>"<%}%> name="_id"/>
				<div>
					<label>
						 Organization Name
					</label>
            <input type="text" <% if(editing) {%>value="<%=detail.jobCompany%>"<%}%> name="jobCompany" placeholder="Organization or Company"/>
			<label>
				Post to Seek for
			</label>
	<input type="text" <% if(editing) {%>value="<%=detail.jobPost%>"<%}%> name="jobPost" placeholder="Required Post"/>
	<label>
		Location
	</label>
<input type="text" <% if(editing) {%>value="<%=detail.jobLocation%>"<%}%> name="jobLocation" placeholder="Location"/>
<label>
	Enter your Contact Email
</label>
<input type="email" <% if(editing) {%>value="<%=detail.jobOwnerEmail%>"<%}%> name="jobOwnerEmail" placeholder="Contact Email"/>
<label>
	Contact Mobile
</label>
<input type="number" <% if(editing) {%>value="<%=detail.jobOwnerMobile%>"<%}%> name="jobOwnerMobile" placeholder="Mobile NO."/>
			<label>
				Describe the Post
			</label>
			<textarea <% if(editing) {%>value="<%=detail.description%>"<%}%> name="description" placeholder="Describe your Post here"></textarea>
		</div>
            <input id="submit" type="submit" value="<%= editing ? 'Update' : 'Add' %>"/>
			</div>
			<p> *For multiple response come back from next page.</p>
        </form>
		<%- include ('../partials/footer')%>
	</body>
</html>
		