<%- include('../partials/head')%>
<link rel="stylesheet" href="/hostJobListStyle.css"/>
    <body>
      <%- include('../partials/navHost')%>
        <div id="body">
    <div id="div">
        <h1 id="top">Favourite Profiles</h1>
        <div >
        <% favouriteProfiles.forEach(function(detail) { %>
            <li>
              <div id="topIn">
                <h1 id="name">
                    <%= detail.profilePost %>
                    
                </h1>
                <div>
                    <%detail.fav=true%>
                    <%- include ('../partials/favouriteProfileButton',{profile:detail})%>
            </div>

              </div>
              <h2 id="Cname">
                <%=detail.profileName%>
              </h2>
              <h2 id="Salary">
                10th(%) : 
                <%=detail.profileTenth%>
              </h2>
              <h2 id="Location">
                12th(%) : 
                <%=detail.profileTwelth%>
              </h2>
              <label class="label1">
                Skills
              </label>
              <h2 id="Skills">
                <%=detail.profileSkills%>
              </h2>
                
              <form action="/host/chooseProfile" method = "POST">
                <button id="reject" type ="submit">
                    <%= detail.choosen?"Deselect":"Select"%>
                </button>
                <input type="hidden" name="_id" value="<%=detail._id%>"/>
            </form> 
              <a id="openDetails" href="/host/hostProfileDetails/<%= detail._id %>">Details</a>

              
                
                
            </li>
        <% });%>
    </div>
        <p> <b><u> test reached last </u></b></p>
    </div>
</div>
<%- include ('../partials/footer')%>
    </body>
</html>











