<%- include('../partials/head')%>
<link rel="stylesheet" href="/hostJobListStyle.css"/>
    <body>
      <%- include('../partials/navHost')%>
        <div id="body">
    <div id="div">
        <h1 id="top">Here are the added Posts..</h1>
        <div >
        <% appliedJobs.forEach(function(detail) { %>
            <li>
              <div id="topIn">
                <h1 id="name">
                    <%= detail.jobPost %>
                    
                </h1>
                <div>

                <a href="/host/editJob/<%= detail._id%>?editing=true"> ✏️</a>

                <form action="/host/deleteJob/<%=detail._id%>" method='POST'>
                  <button type="submit">
                    ✘
                  </button>
              </form>
            </div>

              </div>
              <h2 id="Cname">
                <%=detail.jobCompany%>
              </h2>
              <h2 id="Salary">
                Expected Salary : 
                <%=detail.jobSalaryOffered%>
              </h2>
              <label class="label1">
                Location
              </label>
              <h2 id="Location">
                <%=detail.jobLocation%>
              </h2>
              <label class="label1">
                Skills Required
              </label>
              <h2 id="Skills">
                <%=detail.jobSkills%>
              </h2>
              <form action="/store/apply" method = "POST">
                <button id="reject"
                type ="submit">
                    Reject
                </button>
                <input type="hidden" name="_id" value="<%=detail._id%>"/>
            </form>
                
                
                <a id="openDetails" href="/host/hostJobDetails/<%= detail._id %>">More..</a>
                
                
            </li>
        <% });%>
    </div>
        <p> <b><u> test reached last </u></b></p>
    </div>
</div>
<%- include ('../partials/footer')%>
    </body>
</html>