<%- include('../partials/head')%>
<link rel="stylesheet" href="/addJobStyle.css"/>

<script>
	function displayTenthY(a){
		document.getElementById('displayTenth').value=document.getElementById('displayTenthDisplay').value=a;
	}

	function displayTwelthY(a){
		document.getElementById('displayTwelth').value=document.getElementById('displayTwelthDisplay').value=a;
	}

	function displayGraduationY(a){
		document.getElementById('displayGraduation').value=document.getElementById('displayGraduationDisplay').value=a;
	}
</script>
	<body>
		<%- include('../partials/navStore')%>
        <form action="/store/<%= editing ?'editProfile':'addProfile'%>" method="POST">
			<h1>
				<%= editing ? "Edit" : "Add" %> Profile
			</h1>
			<div id="div">
				<input type="hidden" <% if(editing) {%>value="<%=detail._id%>"<%}%> name="_id"/>
				<div>
					<label>
						 Name
					</label>
            <input required type="text" <% if(editing) {%>value="<%=detail.profileName%>"<%}%> name="profileName" placeholder="Name"/>
			<label>
				Gender
			</label>
	<input required type="text" <% if(editing) {%>value="<%=detail.profileGender%>"<%}%> name="profileGender" placeholder="Gender"/>

	<label>
		Post
	</label>
<input required type="text" <% if(editing) {%>value="<%=detail.profilePost%>"<%}%> name="profilePost" placeholder="Post you looking for"/>
	<label>
		Courses Done
	</label>
<input required type="text" <% if(editing) {%>value="<%=detail.profileCourse%>"<%}%> name="profileCourse" placeholder="Couses"/>

<label>
	Skills
</label>
<input required type="text" <% if(editing) {%>value="<%=detail.profileSkills%>"<%}%> name="profileSkills" placeholder="Skills"/>

<label>
	Email
</label>
<input required type="email" <% if(editing) {%>value="<%=detail.profileEmail%>"<%}%> name="profileEmail" placeholder="Contact Email"/>
<label>
	Mobile
</label>
<input required min="6000000000" max="9999999999" type="number" <% if(editing) {%>value="<%=detail.profileMobile%>"<%}%> name="profileMobile" placeholder="Mobile NO."/>

<label>
	10th(%)
</label>
<input class="range"  type="decimal" min="0" max="100" id="displayTenth" <% if(editing) {%>value="<%=detail.profileTenth%>"<%}else{%>value="70"<%}
%>oninput="displayTenthY(this.value)"></input>
<input type="range" oninput="displayTenthY(this.value)" min="0" max="100" id="displayTenthDisplay" name="profileTenth" step="0.1" <% if(editing) {%>value="<%=detail.profileTenth%>"<%}else{%>value="70"<%}
%>>

<label>
	12th(%)
</label>
<input  class="range"  type="decimal" min="0" max="100" id="displayTwelth" <% if(editing) {%>value="<%=detail.profileTwelth%>"<%}else{%>value="70"<%}
%>oninput="displayTwelthY(this.value)"></input>
<input type="range" oninput="displayTwelthY(this.value)" min="0" max="100" name="profileTwelth" 
id="displayTwelthDisplay" step="0.1" <% if(editing) {%>value="<%=detail.profileTwelth%>"<%}else{%>value="70"<%}
%>>

<label>
	Graduation
</label>
<input  class="range"  id="displayGraduation" type="decimal" min="0" max="100" <% if(editing) {%>value="<%=detail.profileGraduation%>"<%}else{%>value="70"<%}
%>oninput="displayGraduationY(this.value)"></input>
<input id="displayGraduationDisplay"  min="0" max="100" type="range" oninput="displayGraduationY(this.value)" name="profileGraduation" step="0.1" <% if(editing) {%>value="<%=detail.profileGraduation%>"<%}else{%>value="70"<%}
%>>


			<label>
				Describe Yourself
			</label>
			<textarea required <% if(editing) {%>value="<%=detail.profileDescription%>"<%}%> name="profileDescription" placeholder="Describe yourself here"></textarea>

			<label>
				Describe About Post You looking for
			</label>
			<textarea required <% if(editing) {%>value="<%=detail.profilePostDescription%>"<%}%> name="profilePostDescription" placeholder="Describe your desired Post here"></textarea>
		</div>
            <input id="submit" type="submit" value="<%= editing ? 'Update' : 'Add' %>"/>
			</div>
			<p> *For multiple response come back from next page.</p>
        </form>
		<%- include ('../partials/footer')%>
	</body>
</html>
		