<%- include('../partials/head')%>
<link rel="stylesheet" href="/hostJobListStyle.css"/>
    <body>
      <%- include('../partials/navStore')%>
        <div id="body">
    <div id="div">
        <h1 id="top">Added Vacancies</h1>
        <div >
            <% details.forEach(function(detail) { %>
                <li>
                    <div id="topIn">
                      <h1 id="name">
                          <%= detail.jobPost %>
                          
                      </h1>
                      <div>
      
                        <% detail.fav = detail.fav; %>
                        <%- include('../partials/favouriteButton',{job:detail})%>
    
                    </form>
                  </div>
      
                    </div>
                    <h2 id="Cname">
                      <%=detail.jobCompany%>
                    </h2>
                    <h2 id="Salary">
                      Expected Salary : 
                      <%=detail.jobSalaryOffered%>
                    </h2>
                    <label class="label1">
                      Location
                    </label>
                    <h2 id="Location">
                      <%=detail.jobLocation%>
                    </h2>
                    <label class="label1">
                      Skills Required
                    </label>
                    <h2 id="Skills">
                      <%=detail.jobSkills%>
                    </h2>
    
                    <form action="/store/apply" method = "POST">
                        <button  id="reject" type ="submit">
                            <%= detail.apply?"Cancel Apply":"Apply"%>
                        </button>
                        <input type="hidden" name="_id" value="<%=detail._id%>"/>
                    </form>
    
                    <a id="openDetails" href="/store/storeJobDetails/<%= detail._id %>">More..</a>
                    
                </li>
            <% });%>
        </div>
            <p><b><u> test reache last</u></b></p>
        </div>
    </div>
    <%- include ('../partials/footer')%>
        </body>
    </html>